
<footer class="footer">
  <div class="container-fluid">
    <!-- <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav> -->
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Universidad EAFIT, codificado por: Equipo Uninorte
      <!-- {{test | date: 'yyyy'}}, Designed by
      <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
    </div>
  </div>
</footer>
