<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">INFORMACION PERSONAL</h5>
        </div>
        <div class="card-body"> 
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nombres:</label>
                  <input type="text" class="form-control" disabled="" placeholder="Nombres" value="Kevin Johan">
                </div>
              </div>
              <!-- <div class="col-md-3 px-1"> -->
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Apellidos:</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Apellidos" value="Hernandez Agudelo">
                </div>
              </div>
              <!-- <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                </div>
              </div> -->
            </div>
            <div class="row">
              <!-- <div class="col-md-6 pr-1"> -->
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Tipo de identificacion:</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Company" value="Mike">
                </div>
              </div>
              <!-- <div class="col-md-6 pl-1"> -->
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Identificacion</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Identificacion" value="114409999">
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Correo:</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Correo" value="jhernandezk@uninorte.edu.co">
                </div>
              </div>
              <!-- <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div> -->
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Celular:</label>
                  <input type="number" class="form-control"  disabled="" placeholder="3107279984">
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              michael24
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>
