<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
            <h5 class="title">PANEL DE MATERIAS</h5>
        </div>
        <div class="card-body ">

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;">
                      <h5 class="card-title">MATEMATICAS</h5>
                      <a href="#" class="btn btn-primary"  style="text-align: center;">Ver Materia</a>
                    </div>
                </div>

        </div>
        
      </div>
    </div>
  </div>
</div>